<div id="appframe">
  <div id="drawer">
    <div class="container">
      <ul id="saved-colors"></ul>
    </div>
  </div>

  <div id="header">
    <div class="container">

      <div class="logo">
      </div>

      <div class="panel">
        <h2>Options</h2>
      </div>

      <div class="panel">
        <h2>How to</h2>

        <ul id="instructions">
          <li>
            <i class="icon-resize-horizontal icon-2x"></i>
            <p>
              Back &amp; Forth for Hue
            </p>
          </li>

          <li>
            <i class="icon-resize-vertical icon-2x"></i>
            <p>
              Up &amp; Down for Lightness
            </p>
          </li>

          <li>
            <i class="icon-sort icon-2x"></i>
            <p>
              Scroll for Saturation
            </p>
          </li>
        </ul>
      </div>

    </div>

    <button id="saved-colors-tab" class="btn tab"><i class="icon-align-justify icon-large"></i></button>
    <button id="save-color"       class="btn tab"><i class="icon-save          icon-large"></i></button>
    <button id="huecomplement"    class="btn tab"><i class="icon-exchange      icon-large"></i></button>
    <button id="gradient"         class="btn tab"><i class="icon-signal        icon-large"></i></button>
    <button id="white"            class="btn tab"><i class="icon-lightbulb     icon-large"></i></button>
    <button id="clear"            class="btn tab"><i class="icon-ban-circle    icon-large"></i></button>
    <button id="header-tab"       class="btn tab"><i class="icon-cog           icon-large"></i></button>
  </div>

  <div id="swatches">
    <ul id="colors">
      <li id="edit" class="swatch animating">
        <div class="info">
          <h2></h2>
          <small>Click to save</small>
        </div>
        <div id="constraints"><div></div></div>
      </li>
    </ul>
  </div>
</div>
