@charset "UTF-8";
/*------------------------------------*\
    SCREEN.CSS
\*------------------------------------*/
/**
 * Setup
 */
/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * OBJECTS-AND-ABSTRACTIONS
 * OVERRIDES
 * CUSTOM
    ^ COLORS
    ^ FONTS
    ^ CUSTOM FONT MIXINS
*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */
/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
/**
 * Other overrides to inuit
 */
/* line 85, sass/_vars.scss */
label {
  cursor: default !important;
}

/* line 86, sass/_vars.scss */
.form-fields input[type=text] {
  cursor: text;
}

/* line 87, sass/_vars.scss */
.check-list label {
  cursor: pointer !important;
}

/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
/**
 * ^COLORS 
 */
/**
 * ^FONTS
 */
/**
 * ^CUSTOM FONT MIXINS 
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * MIXINS
*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
/**
 * Colorpicker styles
 */
/*! normalize.css v1.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 11, sass/colorpicker/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 30, sass/colorpicker/normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 43, sass/colorpicker/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 53, sass/colorpicker/normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 68, sass/colorpicker/normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 79, sass/colorpicker/normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */
/* line 91, sass/colorpicker/normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 103, sass/colorpicker/normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 111, sass/colorpicker/normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 126, sass/colorpicker/normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 131, sass/colorpicker/normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 136, sass/colorpicker/normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 141, sass/colorpicker/normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 146, sass/colorpicker/normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 151, sass/colorpicker/normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 160, sass/colorpicker/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 168, sass/colorpicker/normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 173, sass/colorpicker/normalize.scss */
blockquote {
  margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 181, sass/colorpicker/normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
/* line 190, sass/colorpicker/normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */
/* line 200, sass/colorpicker/normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */
/* line 209, sass/colorpicker/normalize.scss */
p,
pre {
  margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 218, sass/colorpicker/normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 231, sass/colorpicker/normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */
/* line 241, sass/colorpicker/normalize.scss */
q {
  quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */
/* line 249, sass/colorpicker/normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 259, sass/colorpicker/normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 267, sass/colorpicker/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 275, sass/colorpicker/normalize.scss */
sup {
  top: -0.5em;
}

/* line 279, sass/colorpicker/normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 291, sass/colorpicker/normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 298, sass/colorpicker/normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 306, sass/colorpicker/normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 316, sass/colorpicker/normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
/* line 331, sass/colorpicker/normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 340, sass/colorpicker/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 352, sass/colorpicker/normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 364, sass/colorpicker/normalize.scss */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 372, sass/colorpicker/normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 384, sass/colorpicker/normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
/* line 398, sass/colorpicker/normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 413, sass/colorpicker/normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 425, sass/colorpicker/normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 440, sass/colorpicker/normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 453, sass/colorpicker/normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 465, sass/colorpicker/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 479, sass/colorpicker/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 491, sass/colorpicker/normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
/* line 500, sass/colorpicker/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 511, sass/colorpicker/normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 524, sass/colorpicker/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Main styles for colordot
 */
/*! normalize.css v1.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 11, sass/colorpicker/main.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 28, sass/colorpicker/main.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 39, sass/colorpicker/main.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 47, sass/colorpicker/main.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 59, sass/colorpicker/main.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 72, sass/colorpicker/main.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */
/* line 82, sass/colorpicker/main.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 91, sass/colorpicker/main.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 97, sass/colorpicker/main.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 109, sass/colorpicker/main.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 113, sass/colorpicker/main.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 117, sass/colorpicker/main.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 121, sass/colorpicker/main.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 125, sass/colorpicker/main.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 129, sass/colorpicker/main.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 136, sass/colorpicker/main.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 142, sass/colorpicker/main.scss */
b,
strong {
  font-weight: bold;
}

/* line 146, sass/colorpicker/main.scss */
blockquote {
  margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 152, sass/colorpicker/main.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
/* line 159, sass/colorpicker/main.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */
/* line 167, sass/colorpicker/main.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */
/* line 174, sass/colorpicker/main.scss */
p,
pre {
  margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 181, sass/colorpicker/main.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 192, sass/colorpicker/main.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */
/* line 200, sass/colorpicker/main.scss */
q {
  quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */
/* line 206, sass/colorpicker/main.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 214, sass/colorpicker/main.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 220, sass/colorpicker/main.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 227, sass/colorpicker/main.scss */
sup {
  top: -0.5em;
}

/* line 230, sass/colorpicker/main.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 239, sass/colorpicker/main.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 245, sass/colorpicker/main.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 251, sass/colorpicker/main.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 259, sass/colorpicker/main.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
/* line 271, sass/colorpicker/main.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 282, sass/colorpicker/main.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 291, sass/colorpicker/main.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 300, sass/colorpicker/main.scss */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 306, sass/colorpicker/main.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 316, sass/colorpicker/main.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
/* line 334, sass/colorpicker/main.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 353, sass/colorpicker/main.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 363, sass/colorpicker/main.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 376, sass/colorpicker/main.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 393, sass/colorpicker/main.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 403, sass/colorpicker/main.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 421, sass/colorpicker/main.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 435, sass/colorpicker/main.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
/* line 442, sass/colorpicker/main.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 451, sass/colorpicker/main.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 465, sass/colorpicker/main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 469, sass/colorpicker/main.scss */
.clearfix {
  *zoom: 1;
}

/* line 472, sass/colorpicker/main.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 478, sass/colorpicker/main.scss */
.clearfix:after {
  clear: both;
}

/* line 481, sass/colorpicker/main.scss */
.animating {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 487, sass/colorpicker/main.scss */
.animateTransforms {
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -webkit-transform 0.2s ease;
  -o-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -webkit-transition: -moz-transform 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease;
  -o-transition: -moz-transform 0.2s ease;
  transition: -moz-transform 0.2s ease;
  -webkit-transition: -ms-transform 0.2s ease;
  -moz-transition: -ms-transform 0.2s ease;
  -o-transition: -ms-transform 0.2s ease;
  transition: -ms-transform 0.2s ease;
  -webkit-transition: -o-transform 0.2s ease;
  -moz-transition: -o-transform 0.2s ease;
  -o-transition: -o-transform 0.2s ease;
  transition: -o-transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}

/* ==========================================================================
   Site Globals
   ========================================================================== */
/* line 512, sass/colorpicker/main.scss */
body {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  color: white;
  background: #051924;
}

/* line 519, sass/colorpicker/main.scss */
input {
  font-family: 'Lato', sans-serif;
}

/* line 522, sass/colorpicker/main.scss */
button {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
}

/* line 526, sass/colorpicker/main.scss */
a {
  color: white;
}

/* ==========================================================================
   App
   ========================================================================== */
/* line 532, sass/colorpicker/main.scss */
#appframe {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -webkit-transform 0.2s ease;
  -o-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -webkit-transition: -moz-transform 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease;
  -o-transition: -moz-transform 0.2s ease;
  transition: -moz-transform 0.2s ease;
  -webkit-transition: -ms-transform 0.2s ease;
  -moz-transition: -ms-transform 0.2s ease;
  -o-transition: -ms-transform 0.2s ease;
  transition: -ms-transform 0.2s ease;
  -webkit-transition: -o-transform 0.2s ease;
  -moz-transition: -o-transform 0.2s ease;
  -o-transition: -o-transform 0.2s ease;
  transition: -o-transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}

/* line 561, sass/colorpicker/main.scss */
#appframe.show-header {
  -webkit-transform: translate3d(0, 325px, 0);
  -moz-transform: translate3d(0, 325px, 0);
  -o-transform: translate3d(0, 325px, 0);
  transform: translate3d(0, 325px, 0);
}

/* line 567, sass/colorpicker/main.scss */
#header {
  *zoom: 1;
  position: absolute;
  bottom: 100%;
  width: 100%;
}

/* line 573, sass/colorpicker/main.scss */
#header:before,
#header:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 579, sass/colorpicker/main.scss */
#header:after {
  clear: both;
}

/* line 582, sass/colorpicker/main.scss */
#header .container {
  *zoom: 1;
  width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* line 588, sass/colorpicker/main.scss */
#header .container:before,
#header .container:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 594, sass/colorpicker/main.scss */
#header .container:after {
  clear: both;
}

/* line 597, sass/colorpicker/main.scss */
#header .panel {
  float: left;
  width: 250px;
  padding: 0 25px;
  text-align: center;
}

/* line 603, sass/colorpicker/main.scss */
#header .logo {
  text-align: center;
}

/* line 606, sass/colorpicker/main.scss */
#header .logo h1,
#header .logo h3 {
  margin: 0;
  font-size: 14px;
}

/* line 611, sass/colorpicker/main.scss */
#header h2 {
  font-size: 14px;
  line-height: 28px;
  margin: 28px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 618, sass/colorpicker/main.scss */
#header #instructions {
  padding: 0;
  list-style: none;
}

/* line 622, sass/colorpicker/main.scss */
#header #instructions li {
  margin: 28px 0;
}

/* line 625, sass/colorpicker/main.scss */
#header #instructions p {
  margin: 0;
}

/* line 628, sass/colorpicker/main.scss */
#header .panel button {
  display: block;
  width: 100%;
  margin: 8px auto;
  height: 35px;
}

/* line 634, sass/colorpicker/main.scss */
#header-tab {
  position: absolute;
  top: 100%;
  left: 20px;
  background: #051924;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  z-index: 100;
}

/* line 644, sass/colorpicker/main.scss */
#swatches {
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-y: hidden;
  background: black;
  list-style: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 656, sass/colorpicker/main.scss */
#colors {
  margin: 0;
  padding: 0;
}

/* line 660, sass/colorpicker/main.scss */
#colors .swatch {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/* line 669, sass/colorpicker/main.scss */
#colors .swatch .color {
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -webkit-transform 0.2s ease;
  -o-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -webkit-transition: -moz-transform 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease;
  -o-transition: -moz-transform 0.2s ease;
  transition: -moz-transform 0.2s ease;
  -webkit-transition: -ms-transform 0.2s ease;
  -moz-transition: -ms-transform 0.2s ease;
  -o-transition: -ms-transform 0.2s ease;
  transition: -ms-transform 0.2s ease;
  -webkit-transition: -o-transform 0.2s ease;
  -moz-transition: -o-transform 0.2s ease;
  -o-transition: -o-transform 0.2s ease;
  transition: -o-transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}

/* line 697, sass/colorpicker/main.scss */
#colors .swatch .meta-controls {
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: 100%;
}

/* line 703, sass/colorpicker/main.scss */
#colors .swatch .info {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  padding: 20px 0;
  width: 110px;
  border-radius: 3px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* line 718, sass/colorpicker/main.scss */
#colors .swatch .info h2 {
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

/* line 724, sass/colorpicker/main.scss */
#colors .swatch .info small {
  font-size: 10px;
}

/* line 727, sass/colorpicker/main.scss */
#colors .swatch .info .controls {
  line-height: 20px;
}

/* line 730, sass/colorpicker/main.scss */
#colors .swatch .details {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 50px 0;
  min-width: 200px;
  text-align: center;
}

/* line 738, sass/colorpicker/main.scss */
#colors .swatch.light .color .btn {
  color: rgba(0, 0, 0, 0.5);
}

/* line 741, sass/colorpicker/main.scss */
#colors .swatch.light .color .btn:hover {
  color: rgba(0, 0, 0, 0.9);
}

/* line 744, sass/colorpicker/main.scss */
#colors .swatch.show-details .color {
  -webkit-transform: translate3d(0, -260px, 0);
  -moz-transform: translate3d(0, -260px, 0);
  -o-transform: translate3d(0, -260px, 0);
  transform: translate3d(0, -260px, 0);
}

/* line 750, sass/colorpicker/main.scss */
#edit {
  right: 0;
  -webkit-transition: left .2s ease;
  -moz-transition: left .2s ease;
  -o-transition: left .2s ease;
  transition: left .2s ease;
}

/* line 757, sass/colorpicker/main.scss */
#constraints {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* line 765, sass/colorpicker/main.scss */
#constraints div {
  width: 100%;
  height: 100%;
  padding-bottom: 1000px;
}

/* ==========================================================================
   Widgets
   ========================================================================== */
/* line 773, sass/colorpicker/main.scss */
.color-input {
  height: 80px;
  line-height: 80px;
}

/* line 777, sass/colorpicker/main.scss */
.number-widget {
  position: relative;
  display: inline-block;
  height: 80px;
  line-height: 80px;
}

/* line 783, sass/colorpicker/main.scss */
.number-widget [type="text"] {
  display: inline-block;
  width: 40px;
  line-height: 20px;
  text-align: center;
  color: white;
  outline: 0;
  border: none;
  background: transparent;
}

/* line 793, sass/colorpicker/main.scss */
.number-widget .stepper {
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  padding: 0;
  margin: 0;
  line-height: 30px;
  height: 30px;
  text-align: center;
}

/* line 804, sass/colorpicker/main.scss */
.number-widget .stepper.up {
  top: 0;
}

/* line 807, sass/colorpicker/main.scss */
.number-widget .stepper.down {
  bottom: 0;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
/* line 813, sass/colorpicker/main.scss */
.btn {
  background: none;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  padding: 10px;
}

/* line 820, sass/colorpicker/main.scss */
.btn:hover {
  color: #ffffff;
}

/* Email form */
/* line 824, sass/colorpicker/main.scss */
#mc_embed_signup {
  padding: 0 10px;
  line-height: 2em;
}

/* line 828, sass/colorpicker/main.scss */
#mc_embed_signup form {
  text-align: center;
}

/* line 831, sass/colorpicker/main.scss */
#mc_embed_signup input {
  font-family: 'Lato', sans-serif;
  background: #fff;
  outline: none;
  border: 1px solid #eee;
  padding: 10px;
}

/* line 838, sass/colorpicker/main.scss */
#mc_embed_signup input[type="email"] {
  width: 110px;
  border-right: 1px solid #D94726;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

/* line 845, sass/colorpicker/main.scss */
#mc_embed_signup input[type="submit"] {
  color: #fff;
  background: #C9695E;
  border: 1px solid #C9695E;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  padding: 10px 0;
  width: 90px;
}
