/**
 * Main styles for colordot
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.animating {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.animateTransforms {
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -webkit-transform 0.2s ease;
  -o-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -webkit-transition: -moz-transform 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease;
  -o-transition: -moz-transform 0.2s ease;
  transition: -moz-transform 0.2s ease;
  -webkit-transition: -ms-transform 0.2s ease;
  -moz-transition: -ms-transform 0.2s ease;
  -o-transition: -ms-transform 0.2s ease;
  transition: -ms-transform 0.2s ease;
  -webkit-transition: -o-transform 0.2s ease;
  -moz-transition: -o-transform 0.2s ease;
  -o-transition: -o-transform 0.2s ease;
  transition: -o-transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}
/* ==========================================================================
   Site Globals
   ========================================================================== */
body {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  color: white;
  background: #051924;
}
input {
  font-family: 'Lato', sans-serif;
}
button {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
}
a {
  color: white;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
  background: none;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  padding: 10px;
}
.btn:hover {
  color: #ffffff;
}

/* ==========================================================================
   App
   ========================================================================== */
#appframe {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -webkit-transform 0.2s ease;
  -o-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -webkit-transition: -moz-transform 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease;
  -o-transition: -moz-transform 0.2s ease;
  transition: -moz-transform 0.2s ease;
  -webkit-transition: -ms-transform 0.2s ease;
  -moz-transition: -ms-transform 0.2s ease;
  -o-transition: -ms-transform 0.2s ease;
  transition: -ms-transform 0.2s ease;
  -webkit-transition: -o-transform 0.2s ease;
  -moz-transition: -o-transform 0.2s ease;
  -o-transition: -o-transform 0.2s ease;
  transition: -o-transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}
#appframe.show-header {
  -webkit-transform: translate3d(0, 325px, 0);
  -moz-transform:    translate3d(0, 325px, 0);
  -o-transform:      translate3d(0, 325px, 0);
  transform:         translate3d(0, 325px, 0);
}
#appframe.show-saved-colors {
  -webkit-transform: translate3d(280px, 0, 0);
  -moz-transform:    translate3d(280px, 0, 0);
  -o-transform:      translate3d(280px, 0, 0);
  transform:         translate3d(280px, 0, 0);
}

#drawer {
  *zoom: 1;
  overflow-y: scroll;
  position: absolute;
  width: 280px;
  height: 100%;
  right: 100%;
}
#drawer .container {
  width: 100%;
}
#drawer .container ul {
  padding: 0;
  margin: 0;
  overflow: scroll;
  list-style: none;
}
#drawer .container li.saved-color {
  opacity: 0.95;
  position: relative;
  cursor: pointer;
  height: 100px;
  width: 100%;
  margin-bottom: 5px;
}
#drawer .container li.saved-color:hover {
  opacity: 1.0;
}
#drawer .container li.saved-color span {
  display: block;
  float: left;
}
#drawer .container li.saved-color button.btn.destroy {
  float: none;
  position: absolute;
  background: #051924;
  opacity: 0.8;
  padding: 5px;
}
#header {
  *zoom: 1;
  position: absolute;
  bottom: 100%;
  width: 100%;
}
#header:before,
#header:after {
  display: table;
  content: "";
  line-height: 0;
}
#header:after {
  clear: both;
}
#header .container {
  *zoom: 1;
  width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
}
#header .container:before,
#header .container:after {
  display: table;
  content: "";
  line-height: 0;
}
#header .container:after {
  clear: both;
}
#header .panel {
  float: left;
  width: 250px;
  padding: 0 25px;
  text-align: center;
}
#header .logo {
  text-align: center;
}
#header .logo h1,
#header .logo h3 {
  margin: 0;
  font-size: 14px;
}
#header h2 {
  font-size: 14px;
  line-height: 28px;
  margin: 28px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#header #instructions {
  padding: 0;
  list-style: none;
}
#header #instructions li {
  margin: 28px 0;
}
#header #instructions p {
  margin: 0;
}
#header .panel button {
  display: block;
  width: 100%;
  margin: 8px auto;
  height: 35px;
}

/* ==========================================================================
   Tabs
   ========================================================================== */
.tab {
  position: absolute;
  top: 100%;
  background: #051924;
  opacity: 0.8;
  z-index: 100;
}
#header-tab {
  left: 243px;
}
#clear {
  left: 203px;
}
#white {
  left: 169px;
}
#gradient {
  left: 126px;
}
#huecomplement {
  left: 83px;
}
#save-color {
  left: 43px;
}
#saved-colors-tab {
  left: 0px;
}

/* ==========================================================================
   Colors
   ========================================================================== */
#swatches {
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-y: hidden;
  background: black;
  list-style: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  box-shadow: 3px 0 15px #111;
}
#colors {
  margin: 0;
  padding: 0;
}
#colors .swatch {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
#colors .swatch .color {
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -webkit-transform 0.2s ease;
  -o-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -webkit-transition: -moz-transform 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease;
  -o-transition: -moz-transform 0.2s ease;
  transition: -moz-transform 0.2s ease;
  -webkit-transition: -ms-transform 0.2s ease;
  -moz-transition: -ms-transform 0.2s ease;
  -o-transition: -ms-transform 0.2s ease;
  transition: -ms-transform 0.2s ease;
  -webkit-transition: -o-transform 0.2s ease;
  -moz-transition: -o-transform 0.2s ease;
  -o-transition: -o-transform 0.2s ease;
  transition: -o-transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}
#colors .swatch .meta-controls {
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: 100%;
}
#colors .swatch .info {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  padding: 20px 0;
  width: 110px;
  border-radius: 3px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
#colors .swatch .info h2 {
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
#colors .swatch .info small {
  font-size: 10px;
}
#colors .swatch .info .controls {
  line-height: 20px;
}
#colors .swatch .details {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 50px 0;
  min-width: 200px;
  text-align: center;
}
#colors .swatch.light .color .btn {
  color: rgba(0, 0, 0, 0.5);
}
#colors .swatch.light .color .btn:hover {
  color: rgba(0, 0, 0, 0.9);
}
#colors .swatch.show-details .color {
  -webkit-transform: translate3d(0, -260px, 0);
  -moz-transform: translate3d(0, -260px, 0);
  -o-transform: translate3d(0, -260px, 0);
  transform: translate3d(0, -260px, 0);
}
#edit {
  right: 0;
  -webkit-transition: left .2s ease;
  -moz-transition: left .2s ease;
  -o-transition: left .2s ease;
  transition: left .2s ease;
}
#constraints {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
#constraints div {
  width: 100%;
  height: 100%;
  padding-bottom: 1000px;
}
/* ==========================================================================
   Widgets
   ========================================================================== */
.color-input {
  height: 80px;
  line-height: 80px;
}
.number-widget {
  position: relative;
  display: inline-block;
  height: 80px;
  line-height: 80px;
}
.number-widget [type="text"] {
  display: inline-block;
  width: 40px;
  line-height: 20px;
  text-align: center ;
  color: white;
  outline: 0;
  border: none;
  background: transparent;
}
.number-widget .stepper {
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  padding: 0;
  margin: 0;
  line-height: 30px;
  height: 30px;
  text-align: center;
}
.number-widget .stepper.up {
  top: 0;
}
.number-widget .stepper.down {
  bottom: 0;
}
